<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../js/main.js"></script>
    <title>Document</title>
    <style>
    img {
        height: 100px;
    }
    body {
        text-align: center;
    }
    input {
        height: 30px;
        width: 300px;
    }
    .row {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-left: 200px;
    }
    .ate {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-left: 200px;
    }
        </style>
</head>
<body>
    <img src="./assets/burger.jpg">
        <br>
    <h3>Eat the burger!</h3>
    {{{body}}}
</body>
</html>